@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../blocks.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/cms/blocks/**/*';
